@import url(../Css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Lora:ital@1&display=swap');

* {
    font-family: 'Karla',
        sans-serif;
    font-family: 'Lora',
        serif;
}

p {
    line-height: 200%;
    font-size  : 20px;
}

#header {
    height    : 65px;
    background: rgb(247, 246, 246);
}

#topscroll {
    display      : none;
    position     : fixed;
    bottom       : 200px;
    right        : 3%;
    width        : 50px;
    height       : 50px;
    padding-top  : 22px;
    box-sizing   : border-box;
    background   : #f3ca5a url('../images/icon_goTop_on.png') no-repeat center 17px/23px auto;
    border-radius: 50%;
    border       : 0px solid #ccc;
    transition   : all 0.3s;
    cursor       : pointer;
    font-size    : 0px;
    text-align   : center;
    text-indent  : -9999px;
    z-index      : 100;
    behavior     : 'smooth';
}

#topscroll:hover {
    background-color: orange;
    background-image: url('../images/icon_goTop_on.png');
    transition      : all 0.3s;
    behavior        : 'smooth';
}

#bottom {
    display      : none;
    position     : fixed;
    bottom       : 200px;
    right        : 3%;
    width        : 50px;
    height       : 50px;
    padding-top  : 22px;
    box-sizing   : border-box;
    background   : #f3ca5a url('../images/icon_goBot_on.jpg') no-repeat center 17px/23px auto;
    border-radius: 50%;
    border       : 0px solid #ccc;
    transition   : all 0.3s;
    cursor       : pointer;
    font-size    : 0px;
    text-align   : center;
    text-indent  : -9999px;
    z-index      : 100;
}

#bottom:hover {
    background-color: orange;
    background-image: url('../images/icon_goBot_on.jpg');
    transition      : all 0.3s;
}

a:hover,
a:active {
    text-decoration : none;
    color           : white;
    background-color: grey;
    width           : 100%;
    border-radius   : 15%;

}

#body {

    min-height: 800px;
    background: rgb(247, 246, 246);
}

#main {

    width     : 100%;
    background: rgb(247, 246, 246);
    min-height: 800px;
}

#main-menu>ul {
    display       : flex;
    flex-direction: row;
}


#main-menu>ul>li {
    margin-left: 10px;
    list-style : none;
}

#header>.content-box,
#footer>.content-box {
    background-color: white;
}

#body>.content-box {
    display: flex;

}

#footer {
    height    : 100px;
    background: white;
}

.content-box {
    background  : rgb(247, 246, 246);
    height      : inherit;
    width       : 75%;
    margin-left : auto;
    margin-right: auto;
}

.list {
    display         : flex;
    flex-wrap       : wrap;
    padding         : 10px;
    background-color: rgb(247, 246, 246);
    border-radius   : 10px;

}

.list-2 {
    flex-wrap       : wrap;
    padding         : 10px;
    background-color: rgb(247, 246, 246);
    border-radius   : 10px;
}

.images-list {
    width        : 210px;
    height       : 140px;
    padding      : 3px;
    border-radius: 10px;
    flex-wrap    : wrap;
}

.section {
    border-radius   : 10px;
    margin-bottom   : 50px;
    background-color: white;
    margin          : 10px 10px 10px 10px;
    padding         : 30px 30px 30px 30px;
}

.search {
    float   : right;
    margin  : 10px 10px 10px 10px;
    position: relative;
    right   : 20px;
}

/* Nav container */
.nav {
    display         : inline-block;
    width           : 250px;
    height          : 100%;
    background-color: rgb(54, 83, 100);
}

.navbar {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 8px 12px;
    background-color: white;
    height          : inherit;


}

/* Logo with text */
.navbar__logo {
    font-size: 24px;
    color    : var(--text-color);
}

.navbar__logo i {
    color: orange;
}

/* Menu */
.navbar__menu {
    display     : flex;
    padding-left: 0;
    list-style  : none;
}

.navbar__menu li {
    padding       : 8px 12px;
    flex-direction: column;
}

.navbar__menu li ul {
    display       : none;
    flex-direction: row-reverse;
    text-align    : center;
    width         : 100%;
}

.Common>p>a {
    width: 40%;
    color: orange;
}


.navbar__menu li:hover {
    background-color: var(--accent-color);
    border-radius   : 4px;
}

/* Icons */
.navbar__icons {
    list-style  : none;
    color       : var(--text-color);
    display     : flex;
    padding-left: 0;
}


.navbar__icons li {
    padding: 8px 12px;
}

/* Toggle button */
.navbar__toggleBtn {
    display  : none;
    position : absolute;
    right    : 32px;
    font-size: 24px;
    color    : var(--accent-color);
}

.navbar__menu li ul.active {
    display: flex;
}

.section2 ul li {
    font-size: 20px;

}





.dropbtn {
    background-color: #ea2129;
    color           : white;
    padding         : 16px;
    font-size       : 16px;
    border          : none;
}

.dropdown {
    position: relative;
    display : inline-block;
}

.dropdown-content {
    display         : none;
    position        : absolute;
    background-color: #f1f1f1;
    min-width       : 300px;
    box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index         : 1;
}

.dropdown-content a {
    color          : black;
    padding        : 12px 16px;
    text-decoration: none;
    display        : block;
}

.dropdown-content a:hover {
    background-color: orange;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}




/* For small screen */
@media screen and (max-width: 970px) {

    /* Nav container */
    .navbar {
        flex-direction: column;
        align-items   : flex-start;
        padding       : 8px 24px;
    }

    /* Menu */
    .navbar__menu {
        display       : none;
        flex-direction: column;
        text-align    : center;
        width         : 100%;
    }

    .navbar__menu a {
        /* Fill in an entire line so that user can click on any space */
        display: block;
    }

    /* Icons */
    .navbar__icons {
        display        : none;
        justify-content: center;
        width          : 100%;
    }

    /* Toggle button */
    .navbar__toggleBtn {
        display: block;
    }

    /* When toggle button is clicked - active state */
    .navbar__menu.active,
    .navbar__icons.active,
    .navbar__menu li ul.active {
        display: flex;
    }

    .content-box {
        width: 100%;
    }

    .dropdown-content {

        min-width: 400px;

    }

    img {
        width: 100%;
    }
}